<h1>Admin#show</h1>
<p>Find me in app/views/admin/show.html.erb</p>


<table class="table table-bordered border-primary">
  <thead>
    <tr>
      <th scope="col">USER ID</th>
      <th scope="col">Transaction ID</th>
      <th scope="col">Type</th>
      <th scope="col">Code</th>
      <th scope="col">Quantity</th>
      <th scope="col">Current Price</th>
      <th scope="col">Total</th>
      <th scope="col">View Transaction for this Profile</th>   
    </tr>
  </thead>


   <% @transaction.each do |transaction| %>

 </tr>
    <tr>
      <th scope="row">><%= transaction.user_id %></td>
      <th> <%= transaction.id %> </th>
      <td><%= transaction.type %></td>
      <td><%= transaction.code %></td>
      <td><%= transaction.quantity %></td>
      <td><%= transaction.current_price %></td>
      <td><%= transaction.total %></td>
      <td class="table-active"><%= link_to "View", admin_users_show_path(@user) %></td>
    </tr>
  </tbody>
      <% end %>
</table>

<%= link_to "Home Page", root_path %> <br> <br>

<%= link_to "Back", admin_index_path %> <br> <br>
