<h1>Dashboard</h1>
<% if @symbol %>
  <p>Symbol: <%=  @symbol %></p>
  <p>Stock Price: <%=  @stock_price %></p>
<% end %>
<%= form_with url: "/search", method: :get do |form| %>
  <%= form.label :query, "Search stock:" %>
  <%= form.search_field :query %>
  <%= form.submit "Search" %>
<% end %>
<h3>Your stocks</h3>
<ul>
  <% @stocks.each do |stock| %>
    <li>
      <div><%= stock.code %></div>
      <div><%= stock.quantity %></div>
      <div>
        <%= link_to "Show", stock_path(stock) %>
      </div>
    </li>
  <% end %>
</ul>