<h1>Portfolio <%= @current_user.email %> </h1>
<% if @symbol %>
  <p>Symbol: <%=  @symbol %></p>
  <p>Stock Price: <%=  @stock_price %></p>
<% end %>
<%= form_with url: "/search", method: :get do |form| %>
  <%= form.label :query, "Search stock:" %>
  <%= form.search_field :query %>
  <%= form.submit "Search" %>
<% end %>
<h3>Your stocks</h3>
<ul>
  <% @stocks.each do |stock| %>
    <li>
      <div><%= stock.code %></div>
      <div><%= stock.quantity %></div>
      <div>
        <%= link_to "Show", stock_path(stock) %>
      </div>
    </li>
  <% end %>
</ul>

<%= link_to "View Your Transactions", transactions_path  %>

<ul>
  <li>
    <div>MSFT</div>
    <div>Quantity: 1</div>
    <div>
      <button>Show</button>
    </div>
  </li>
  <li>
    <div>NFLX</div>
    <div>Quantity: 2</div>
    <div>
      <button>Show</button>
    </div>
  </li>
</ul>



<br><br>

<%= link_to "Home Page", root_path %> <br><br><br>

<% if current_user.isAdmin?%>
<%= link_to "Admin Page", admin_index_path, class: "btn btn-outline-warning" %>
<% end %> <br><br><br>

<%= link_to "Sign Out", destroy_user_session_path, 
data: {turbo_method: :delete, turbo_confirm: "Sure ka ba?"},
class: "btn btn-danger" %>  <br>
