<nav>
    <li><strong>WELCOME <%= @current_user.email %> ! </strong></li>

    <li>
      <details class="dropdown">
        <summary>
          Account
        </summary>
        <ul dir="rtl">
          <li><% if current_user.isAdmin?%>
              <%= link_to "Admin Page", admin_index_path, style: "color: yellow;" %>
              <% end %></li>
          <li><%= link_to "Sign Out", destroy_user_session_path, 
                  data: {turbo_method: :delete, turbo_confirm: "Sure ka ba?"},
                  style: "color: red;" %></li>
        </ul>
      </details>
    </li>
</nav>


</nav>

<div class="content">
<% if @symbol %>
  <p>Symbol: <%=  @symbol %></p>
  <p>Stock Price: <%=  @stock_price %></p>
<% end %>
<%= form_with url: "/search", html: { role: "search" } , method: :get do |form| %>
  <%= form.search_field :query, aria: { label: "Seach" }, placeholder: "Search stock" %>
  <%= form.submit "Search" %>
<% end %>

<% if current_user.isApproved? || current_user.isAdmin?%>
<h3>Your stocks</h3>
<table class="table table-bordered border-primary">
  <thead>
  <tr>
    <th scope="col">STOCK CODE</th>
    <th scope="col">QUANTITY</th>
    <th scope="col">Trade?</th>
    <th scope="col">Transactions</th>
  </tr>
  </thead>

  <% @stocks.each do |stock| %>
      <tr>
      <th scope="row"> <%= stock.code %> </th>
      <td><%= stock.quantity %></td>
      <td> <%= link_to "Trade", stock_path(stock) %></td>
      <td> <%= link_to "View Here", transactions_path %> </td>
  <% end %>
</table>


 
    <%else%>
      <p> Please wait for the admins approval of your account so you can start buying and selling stocks! </p>
      <p> For the meantime, you just can SEARCH for STOCKS! </p>
    <%end%>
    </div>
</body>
</html>














