<h3>Your stocks</h3>
<ul>
  <% @user_stocks.each do |res| %>
    <li>
      <div>
        <h3>Name: <%= res[:name] %></h3>
        <h4>Code: <%= res[:code] %></h4>
      </div>
      <%= link_to "Trade", stock_path(res) %>
    </li>
  <% end %>  
</ul>
<h3>Search Results</h3>
<ul>
  <% @stocks.each do |res| %>
    <li>
      <div>
        <h3>Name: <%= res[:name] %></h3>
        <h4>Code: <%= res[:symbol] %></h4>
      </div>
      
      <div>
        <% if current_user.isApproved? || current_user.isAdmin %>
        
        <%= link_to "Buy", new_stock_path(name: res[:name], code: res[:symbol]) %>
        <%end%>

      </div>
    </li>
  <% end %>  
</ul>