<h3>Search Results</h3>
<ul>
  <% @results.each do |res| %>
    <li>
      <div>
        <h3>Name: <%= res[:name] %></h3>
        <h4>Code: <%= res[:symbol] %></h4>
      </div>
      <%= form_with url: stocks_path, method: :post do |f| %>
        <div>
          <%= hidden_field_tag :name, res[:name]  %>
          <%= hidden_field_tag :code, res[:symbol]  %>
        </div>
        <div>
          <%= number_field_tag :quantity, nil , placeholder: "Quantity" %>
          <%= f.submit "Buy" %>
        </div>
      <% end %>
    </li>
  <% end %>  
</ul>