<h1>Name: <%= @stock.name %></h1>
<h1>Code: <%= @stock.code %></h1>
<h1>Quantity: <%= @stock.quantity %></h1>
<h1>Price: <%= @price %></h1>
<div>

<% if current_user.isApproved? || current_user.isAdmin? %>

  <%= form_with url: buy_stock_path(@stock) do |f| %>
    <%= number_field_tag :quantity, nil, placeholder: "Quantity" %>
    <%= f.submit "Buy" %>
  <% end %>


<%# Disable the sell button if the quantity is 0%>

<% if @stock.quantity > 0 %>
  <%= form_with url: sell_stock_path(@stock) do |f| %>
    <%= number_field_tag :quantity, nil, placeholder: "Quantity" %>
    <%= f.submit "Sell" %>
  <% end %>
<% else %>
  <p><em>Out of stock – cannot sell.</em></p>
<% end %>

<%end %>
</div>

<%= link_to "Home Page", root_path %> <br> <br>